@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.vectorIcon {
  position: absolute;
  height: 35.71%;
  width: 9.72%;
  top: 32%;
  right: 79.88%;
  bottom: 32.29%;
  left: 10.4%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  cursor: pointer;
}
.vectorIcon.animate {
  animation: 1.5s ease 0s 1 normal forwards roll-in-left;
}
.happymenuH1 {
  margin: 0;
  position: absolute;
  top: 39px;
  left: 105.44px;
  font-size: inherit;
  letter-spacing: 6px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.lottiePlayer,
.topNavHeader {
  position: absolute;
  top: 0;
  width: 375px;
  overflow: hidden;
}
.topNavHeader {
  left: calc(50% - 187.5px);
  background-color: #15133c;
  height: 100px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Roboto;
}
.lottiePlayer {
  left: 0;
  height: 350px;
}
.restaurantHinzufgenB {
  position: absolute;
  top: 17px;
  left: 25px;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.buttonAddRestaurant {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #ec994b;
  position: absolute;
  top: 397px;
  left: 57px;
  width: 262px;
  height: 57px;
  overflow: hidden;
  opacity: 0;
}
.buttonAddRestaurant.animate,
.buttonEditRestaurant.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.restaurantBearbeiten {
  position: absolute;
  top: 17px;
  left: 27px;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.buttonEditRestaurant {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #15133c;
  position: absolute;
  top: 473px;
  left: 57px;
  width: 262px;
  height: 57px;
  overflow: hidden;
  opacity: 0;
}
.main,
.profilSeiteGastronomenDiv {
  background-color: #fff;
  overflow: hidden;
}
.main {
  position: absolute;
  top: 100px;
  left: 0;
  width: 375px;
  height: 569px;
}
.profilSeiteGastronomenDiv {
  position: relative;
  width: 100%;
  height: 667px;
}
